{% extends "base.html" %}
{% load i18n %}
{% block extra_head %}{% endblock %}
<script src="{{ STATIC_URL }}js/angular/angular.min.js"></script>
<script src="{{ STATIC_URL }}js/app/sampleapp.js"></script>
{% block content %}
    <div class="main container-fluid">
        <!-- <div class="hedr container-fluid"> -->
        
            <!-- header part start-->
            <header class="scroll-to-fixed-fixed" style="z-index: 1000; position: fixed; top: 0px; margin-left: 0px; width: 100%; left: 0px;">
                <div class="head container">
                    <div class="logo_section">
                        <div class="wrapper clearfix">
                            <div class="left_section">
                                <h1 style="margin-top:25px;">CompareCarPrices
                                    <!-- <img src="images/logo.png"> --></h1>
                                        
                            </div>
                            <div class="search_section">
                                <form class="search_form" ng-submit="onChange(field)">
                                    <input id="search" class="autoCompleteBox" type="text" placeholder="City, Make, Model, Year" autocomplete="off" name="field" ng-model="field">
                                    <!-- <button type="submit" class="btn fa-input" style="display:none"><i class="fa fa-search" ></i></button> -->
                                 <!--    <input onclick="SelectOption(); return false;" type="submit">  -->      
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- header part end--> 
        </div>
  
    <div id="main-content" class="container" > 
        <!--Content Part start-->
       
            <ng-view view-state> 
                 
            </ng-view>
        <!-- Content Part end-->
       
        
    </div>
    <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left" style="background:none;"><span ></span><img src="{{ STATIC_URL }}css/img/gotop.png" style="height:30px;width:30px;  background:none;"></a>
    <!-- <a style="display: block;" href="#" class="gototop" title="Go to top"></a> -->
    
{% endblock %}
<!-- {% block extra_content %}

{% endblock %} -->